@model List<Tarea_1.Models.SoftwaresView>


<hi>Softwares</hi>

<p>
	<a asp-action="Create">Crear </a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>Cod del software</th>
			<th>Num patente</th>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Tipo software</th>
			<th>Fecha puesta produccion</th>
			<th>Fecha expiración licencia</th>
			<th>Servidor</th>
			<th>Rol</th>
			<th>Departamento encargado</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var software in Model)
		{
			<tr>
				<td>@Html.DisplayFor(m=>software.CodigoSoftware)</td>
				<td>@Html.DisplayFor(m=>software.NumeroPatente)</td>
				<td>@Html.DisplayFor(m=>software.Nombre)</td>
				<td>@Html.DisplayFor(m=>software.Descripción)</td>
				<td>@Html.DisplayFor(m=>software.TipoSoftware)</td>
				<td>@Html.DisplayFor(m=>software.FechaPuestaProducción)</td>
				<td>@Html.DisplayFor(m=>software.FechaExpiraciónLicencia)</td>
				<td>@Html.DisplayFor(m=>software.NumeroSerieServidor)</td>
				<td>@Html.DisplayFor(m=>software.Rol)</td>
				<td>@Html.DisplayFor(m=>software.NombreDepartamento)</td>
			</tr>
		}
	</tbody>
</table> 

